# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Ubuntu
#	email = Shashankpnaidu@Linux-VM.cate54mxbglutidolwzuxvqpwd.ux.internal.cloudapp.net
